# Python Einf√ºhrung
## Tag 1
Das ist eine Markdown-Zeile **fett** 

- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print ("Hello World")

Hello World

In [2]:
print ("something")
# ein Kommentar

something

In [3]:
name = "Lovelace"

In [4]:
print (name)

Lovelace

In [5]:
age = 73

In [6]:
age

73

In [7]:
age
name

'Lovelace'

In [8]:
size = 1.7123

In [9]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

In [10]:
type (name)

str

In [11]:
type (age)

int

In [12]:
type (size)

float

In [13]:
5 + 5

10

In [14]:
age * 100

7300

In [15]:
name + name

'LovelaceLovelace'

In [16]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [17]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [18]:
size / age

0.023456164383561642

In [20]:
name + str (age)

'Lovelace73'

## Funktionen und Methoden

In [21]:
len (name)

8

In [22]:
name.upper()

'LOVELACE'

In [23]:
name

'Lovelace'

In [24]:
name_upper = name.upper()

In [25]:
print (name)
print (name_upper)

Lovelace
LOVELACE

In [26]:
name.count("e")

2

In [28]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [29]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [30]:
type (names)

list

In [31]:
names[2]

'Curie'

In [32]:
names[1]

'Darwin'

In [33]:
names[-1]

'Hawking'

In [34]:
names[0:2]

['Lovelace', 'Darwin']

In [35]:
names[:2]

['Lovelace', 'Darwin']

In [36]:
names[2:]

['Curie', 'Hawking']

In [41]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809,
                           "Hawking": [1942, 2018]}

In [38]:
type (authors_and_birth_years)

dict

In [42]:
authors_and_birth_years["Darwin"]

1809

In [43]:
authors_and_birth_years["Hawking"]

[1942, 2018]

In [44]:
authors_and_birth_years["Hawking" 2]

SyntaxError: invalid syntax (<ipython-input-44-3d9599a67e54>, line 1)

In [45]:
authors_and_birth_years[Hawking 2]

SyntaxError: invalid syntax (<ipython-input-45-e91bc5b325a9>, line 1)

In [46]:
authors_and_birth_years["Hawking"][1]

2018

In [47]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [52]:
for name in names:
    print("What did " + names + " do?")
    print(name + " did awesome stuff")

TypeError: can only concatenate str (not "list") to str

## Bedingte Anweisungen

In [53]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [54]:
temp > 15

True

In [55]:
temp = 10
if temp > 15:
    print ("It's warm")
else:
    print("It's cold")

It's cold

In [56]:
temp = 15
if temp >= 25:
    print ("It's hot")
elif temp >= 15:
    print ("It's warm")
else:
    print ("It's cold")

It's warm

In [57]:
temps = [0, 10, 16, 22, 30]

In [59]:
for temp in temps:
    if temp >= 25:
        print ("It's hot")
    elif temp >= 15:
        print ("It's warm")
    else:
        print ("It's cold")

It's cold
It's cold
It's warm
It's warm
It's hot